.color--white {
  color: white; }

.color--primary-color {
  color: #9e9e9e; }

::selection {
  color: white;
  background-color: #ddd; }

::-moz-selection {
  color: white;
  background-color: #ddd; }

.element .inner::selection {
  color: inherit;
  background-color: rgba(158, 158, 158, 0.43); }

.element .inner *::selection {
  color: inherit;
  background-color: rgba(158, 158, 158, 0.43); }

*:not(.element) {
  user-select: none; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: 'Noto Sans CJK JP Light', 'Roboto', 'Arial', 'Helvetica', sans-serif;
  overflow: auto;
  background-color: #f7f7f7; }

.v-align-placeholder {
  height: 100%;
  width: 0; }

#main-header {
  background: #ddd linear-gradient(to bottom, #ffffff, #ddd);
  position: relative;
  z-index: 59;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 0 3em; }
@keyframes slideFromTopShowHeader {
  from {
    transform: translate(0, -100%); }
  to {
    transform: translate(0, 0); } }
  #main-header a, #main-header ul {
    text-decoration: none;
    list-style-type: none; }
  #main-header ul {
    padding: 0;
    margin: 0; }
  #main-header .brand-logo {
    position: relative; }
    #main-header .brand-logo a {
      font-size: 2.8em;
      font-weight: 900;
      color: #858585;
      font-family: 'Gloria Hallelujah', cursive; }
    #main-header .brand-logo .circles {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 3em;
      height: 3em;
      z-index: -1; }
  #main-header .hamburger {
    height: 1.2em;
    width: 1.5em;
    position: absolute;
    left: 1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer; }
    #main-header .hamburger > * {
      position: absolute;
      width: 100%;
      height: 0.2em;
      background-color: #262626;
      -webkit-transition: -webkit-transform 300ms, opacity 300ms;
      transition: transform 300ms, opacity 300ms; }
      #main-header .hamburger > *.top-line {
        top: 0; }
      #main-header .hamburger > *.middle-line {
        top: calc(50% - 0.1em); }
      #main-header .hamburger > *.bottom-line {
        bottom: 0; }
    #main-header .hamburger.clicked > * {
      -webkit-transform-origin: left center;
      transform-origin: left center; }
      #main-header .hamburger.clicked > *.top-line {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      #main-header .hamburger.clicked > *.bottom-line {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      #main-header .hamburger.clicked > *.middle-line {
        opacity: 0; }
    @media all and (min-width: 1200px) {
      #main-header .hamburger {
        display: none; } }
  #main-header #tb--page-size .mdl-textfield {
    width: 6em; }
  #main-header #tb--page-size input {
    color: #5e5e5e; }

.location-sm-b {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0; }

@media all and (min-width: 992px) {
  .location-md-lc {
    top: 50%;
    left: 0;
    bottom: auto;
    right: auto;
    transform: translate(0, -50%); } }
#canvas-playground {
  position: relative;
  padding: 3em 0; }
  #canvas-playground #tb--main {
    position: fixed;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #canvas-playground #tb--main:hover {
      z-index: 100; }
    #canvas-playground #tb--main .command {
      cursor: pointer;
      text-align: center;
      flex-grow: 1;
      height: 2.8em;
      line-height: 2.8em; }
      #canvas-playground #tb--main .command:not(:last-child) {
        box-shadow: 0 1px 0 rgba(128, 128, 128, 0.2); }
      #canvas-playground #tb--main .command:hover {
        color: #ddd; }

#canvas-pages {
  position: relative;
  margin-left: 0; }
  #canvas-pages #pages {
    position: relative; }
  #canvas-pages .element {
    position: absolute;
    top: 0;
    left: 0;
    cursor: move; }
    #canvas-pages .element.image {
      width: 800px; }
    #canvas-pages .element.form .inner {
      background-color: white; }
    #canvas-pages .element .inner {
      outline: none;
      position: relative;
      z-index: 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      overflow: hidden; }
      #canvas-pages .element .inner img {
        width: 100%; }
  #canvas-pages .page {
    position: absolute;
    height: 800px;
    margin-bottom: 3em;
    background-color: white;
    transition: top 300ms;
    width: 100%;
    overflow: hidden;
    min-width: 1em;
    min-height: 1em; }
    @media all and (min-width: 992px) {
      #canvas-pages .page {
        width: 80%; } }
    #canvas-pages .page:hover .resize-handle {
      visibility: visible;
      opacity: 0.75; }
    #canvas-pages .page.selected {
      box-shadow: 0 0 15px #9e9e9e; }
    #canvas-pages .page .elements {
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      #canvas-pages .page .elements .element:hover:before, #canvas-pages .page .elements .element.dragging:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px; }
      #canvas-pages .page .elements .element:hover:before {
        border: 1px dashed rgba(38, 38, 38, 0.25); }
      #canvas-pages .page .elements .element.dragging:before {
        border: 1px dashed #262626; }
    #canvas-pages .page .resize-handle {
      width: 25px;
      height: 25px;
      position: absolute;
      bottom: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 300ms, opacity 300ms; }
      #canvas-pages .page .resize-handle polygon {
        fill: #262626;
        cursor: nwse-resize; }
        #canvas-pages .page .resize-handle polygon:hover {
          fill: #ddd; }

#overlays {
  top: 0;
  right: 0;
  left: 0;
  position: absolute; }
  #overlays .selection-box {
    background-color: transparent;
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1; }
    #overlays .selection-box.card-note .handle, #overlays .selection-box.card-square .handle, #overlays .selection-box.card-wide .handle, #overlays .selection-box.card-tag .handle, #overlays .selection-box.audio {
      display: none; }
    #overlays .selection-box .body {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      border: 1px dashed black;
      background-color: white; }
    #overlays .selection-box .move-handle {
      position: absolute;
      top: -15px;
      right: -15px;
      bottom: -15px;
      left: -15px;
      background-color: rgba(158, 158, 158, 0.2); }
    #overlays .selection-box .handle {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: rgba(221, 221, 221, 0.9);
      cursor: pointer; }
      #overlays .selection-box .handle:hover {
        background-color: #dddddd; }
    #overlays .selection-box .lt {
      left: -8px;
      top: -8px;
      cursor: nwse-resize; }
    #overlays .selection-box .t {
      top: -8px;
      left: calc(50% - 4px);
      cursor: ns-resize; }
    #overlays .selection-box .rt {
      right: -8px;
      top: -8px;
      cursor: nesw-resize; }
    #overlays .selection-box .r {
      right: -8px;
      top: calc(50% - 4px);
      cursor: ew-resize; }
    #overlays .selection-box .rb {
      right: -8px;
      bottom: -8px;
      cursor: nwse-resize; }
    #overlays .selection-box .b {
      bottom: -8px;
      left: calc(50% - 4px);
      cursor: ns-resize; }
    #overlays .selection-box .lb {
      bottom: -8px;
      left: -8px;
      cursor: nesw-resize; }
    #overlays .selection-box .l {
      left: -8px;
      top: calc(50% - 4px);
      cursor: ew-resize; }
  #overlays .element {
    z-index: 3; }
    #overlays .element .inner {
      cursor: auto; }

.hot-tools {
  position: fixed;
  top: 1em;
  min-height: 50px;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  left: 50%;
  transform: translate(-50%, 0);
  animation: slideFromTopShow 300ms;
  z-index: 62;
  opacity: 0.8; }
  .hot-tools:hover {
    opacity: 1; }
  .hot-tools .close {
    position: absolute;
    right: -2.05em;
    top: 50%;
    transform: translateY(-50%); }
  .hot-tools button {
    outline: none;
    background-color: transparent;
    border: 0;
    cursor: pointer; }

.hot-tools.show {
  display: flex; }

@keyframes slideFromBottomShow {
  from {
    opacity: 0;
    transform: translate(-50%, 200%); }
  to {
    opacity: 1;
    transform: translate(-50%, 0); } }
@keyframes slideFromTopShow {
  from {
    opacity: 0;
    transform: translate(-50%, -200%); }
  to {
    opacity: 1;
    transform: translate(-50%, 0); } }
.pure-box {
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }

.bg-white {
  background-color: white; }

.cursor-pointer {
  cursor: pointer; }

.slidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 68;
  overflow: auto;
  transform: translate3d(-100%, 0, 0);
  transition: transform 150ms; }
  .slidebar.show {
    transform: translate3d(0, 0, 0); }
    @media all and (min-width: 992px) {
      .slidebar.show {
        box-shadow: 0 0 10px #343434; } }
  .slidebar .header {
    background-color: #444444;
    height: 12%; }
    .slidebar .header h1 {
      font-family: 'Noto Sans CJK JP Light', 'Roboto', 'Arial', 'Helvetica', sans-serif;
      color: #9e9e9e;
      text-shadow: 0 0 2px black; }
  .slidebar .close-btn {
    position: absolute;
    right: 0.5em;
    top: 0.2em;
    color: white;
    outline: none; }
  .slidebar .content {
    height: calc(88% - 40px);
    overflow: auto;
    background-color: #343434; }
@keyframes imgItemAdded {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
    .slidebar .content .img-item {
      padding: 0.5em;
      width: calc(100% / 3);
      height: 100px;
      position: relative; }
      .slidebar .content .img-item:hover .options, .slidebar .content .img-item:active .options {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.3); }
        .slidebar .content .img-item:hover .options .option, .slidebar .content .img-item:active .options .option {
          transform: translate3d(0, 0, 0); }
      .slidebar .content .img-item img {
        width: 100%; }
      .slidebar .content .img-item .options {
        position: absolute;
        transition: visibility 200ms, background-color 200ms;
        display: flex;
        visibility: hidden;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        overflow: hidden; }
        .slidebar .content .img-item .options .option {
          transition: transform 200ms;
          transform: translate3d(0, 100%, 0);
          outline: none;
          border: 0;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          cursor: pointer;
          margin: 0 0.2em;
          padding: 0.3em 1em; }
  .slidebar .footer {
    height: 40px;
    background-color: #242424; }
  .slidebar a {
    text-decoration: none; }
  .slidebar .toggle {
    background-color: darkcyan;
    color: white !important;
    transition: background-color 300ms; }
    .slidebar .toggle.collapsed {
      background-color: #444; }

#upload-img-btn {
  outline: none;
  width: 4em;
  background-color: darkcyan;
  color: white;
  cursor: pointer;
  border: 0; }

.text-accent-color {
  color: #ddd !important; }

.bg-accent-color {
  background-color: #ddd !important; }

#color-platte .inner > * {
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 3px #242424; }

@media all and (max-width: 768px) {
  #export-html {
    display: none; }

  #tb--page-size {
    display: none; }

  .hot-tools {
    width: 100%;
    overflow: auto;
    top: 0; }

  .resize-handle {
    display: none; }

  #canvas-playground {
    padding: 0; }

  body {
    overflow: hidden;
    font-size: 0.8em; }

  #add-page {
    display: none; }

  #remove-item {
    display: none; }

  #main-header {
    padding: 1em 3em; } }
input[type=date], input[type=number] {
  width: auto; }

#alignment-lines svg {
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  display: block;
  stroke: #9e9e9e; }
  #alignment-lines svg.v {
    width: 1px;
    opacity: 0;
    transition: opacity 100ms; }
  #alignment-lines svg.h {
    height: 1px;
    opacity: 0;
    transition: opacity 100ms; }
#alignment-lines.show-v .v {
  opacity: 1; }
#alignment-lines.show-h .h {
  opacity: 1; }

.cursor-move {
  cursor: move; }

#popular-components .component-container {
  position: relative;
  width: calc(100%/3);
  height: 150px;
  padding: 0.3em;
  min-width: 80px;
  flex-grow: 1;
  transition: width 200ms, height 200ms; }
  #popular-components .component-container.focus {
    width: 100%;
    height: 248px; }
    #popular-components .component-container.focus .detail-settings {
      visibility: visible;
      opacity: 1; }
    #popular-components .component-container.focus .component {
      align-items: flex-start;
      justify-content: flex-start;
      opacity: 0.5; }
  #popular-components .component-container .detail-settings {
    transition: visibility 200ms, opacity 200ms;
    padding: 0.3em 1em;
    visibility: hidden;
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap; }
    #popular-components .component-container .detail-settings .click-un-focus {
      position: absolute;
      right: 1em;
      bottom: 1em; }
    #popular-components .component-container .detail-settings input.text {
      color: #ddd;
      outline: none;
      border: 0;
      background-color: #444444;
      padding: 0 0.5em;
      line-height: 36px; }
    #popular-components .component-container .detail-settings select {
      color: #ddd;
      background-color: #444444; }
    #popular-components .component-container .detail-settings button.create {
      outline: none;
      font-weight: bold;
      color: #c4c4c4;
      border-radius: 0; }
    #popular-components .component-container .detail-settings span.mdl-checkbox__label {
      top: -2px; }
#popular-components .component {
  user-select: none;
  cursor: pointer;
  color: #ddd;
  box-shadow: 1px 1px 0 0 #2c2c2c, 2px 2px 0 0 #2c2c2c, 3px 3px 0 0 #2c2c2c, 4px 4px 0 0 #2c2c2c;
  width: 100%;
  background-color: #393939;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms; }
  #popular-components .component:active {
    transform: translate(4px, 4px);
    box-shadow: -1px -1px 0 0 #2c2c2c, -2px -2px 0 0 #2c2c2c, -3px -3px 0 0 #2c2c2c, -4px -4px 0 0 #2c2c2c; }

#form-builder-container .modal-title {
  flex-grow: 1;
  text-align: center;
  margin-right: -32px; }
#form-builder-container .modal-header, #form-builder-container .modal-footer {
  background-color: #ddd; }
#form-builder-container .modal-body {
  background-color: #e2e2e2; }
#form-builder-container .frmb-control li {
  background: #ddd;
  border-radius: 0; }
#form-builder-container .frmb {
  background-color: #ddd; }

#do-export {
  color: #6b6b6b;
  outline: none; }

.element.form .form-control {
  height: auto; }

.mdl-snackbar {
  z-index: 2000; }

.text-primary {
  color: #9e9e9e; }

.text-accent {
  color: #ddd; }

.children-vertical-center > * {
  display: inline-block;
  vertical-align: middle; }

.wsp-nowrap {
  white-space: nowrap; }

/*# sourceMappingURL=main.css.map */
