$ini-accent-color: #ddd;
$ini-primary-color: rgb(158,158,158);
$vip-black: #262626;
$ini-primary-font-color: #262626;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$body-bg-color: lighten($ini-accent-color, 10);

.color--white {
  color: white;
}
.color--primary-color {
  color: $ini-primary-color;
}
::selection {
  color: white;
  background-color: $ini-accent-color;
}
::-moz-selection {
  color: white;
  background-color: $ini-accent-color;
}
.element .inner::selection {
  color: inherit;
  background-color: rgba($ini-primary-color,0.43);
}
.element .inner *::selection {
  color: inherit;
  background-color: rgba($ini-primary-color,0.43);
}*:not(.element) {
  user-select: none;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: 'Noto Sans CJK JP Light', 'Roboto', 'Arial', 'Helvetica', sans-serif;
  overflow: auto;
  background-color: $body-bg-color;
  //@media all and (min-width: $screen-md-min) {
  //  &.slidebar-open #canvas-pages {
  //    margin-left: 25%;
  //  }
  //}
}
.v-align-placeholder {
  height: 100%;
  width: 0;
}
#main-header {
  background: $ini-accent-color linear-gradient(to bottom, #ffffff, $ini-accent-color);
  position: relative;
  z-index: 59;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 0 3em;
  @keyframes slideFromTopShowHeader {
    from {
      transform: translate(0, -100%);
    }
    to {
      transform: translate(0, 0);
    }
  }
  a, ul {
    text-decoration: none;
    list-style-type: none;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .brand-logo {
    position: relative;
    a {
      font-size: 2.8em;
      font-weight: 900;
      color: darken($ini-primary-color, 10);
      font-family: 'Gloria Hallelujah', cursive;
    }
    .circles {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 3em;
      height: 3em;
      z-index: -1;
    }
  }
  .hamburger {
    height: 1.2em;
    width: 1.5em;
    position: absolute;
    left: 1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;

    & > * {
      position: absolute;
      width: 100%;
      height: 0.2em;
      background-color: $ini-primary-font-color;
      -webkit-transition: -webkit-transform 300ms, opacity 300ms;
      transition: transform 300ms, opacity 300ms;

      &.top-line {
        top: 0;
      }
      &.middle-line {
        top: calc(50% - 0.1em);
      }
      &.bottom-line {
        bottom: 0;
      }
    }

    &.clicked > * {
      -webkit-transform-origin: left center;
      transform-origin: left center;
      &.top-line {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &.bottom-line {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &.middle-line {
        opacity: 0;
      }
    }

    @media all and (min-width: $screen-lg-min) {
      display: none;
    }
  }
  #tb--page-size {
    .mdl-textfield {
      width: 6em;
    }
    input {
      color: darken($ini-primary-color, 25);
    }
  }
}
.location-sm-b {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}
@media all and (min-width: $screen-md-min) {
  .location-md-lc {
    top: 50%;
    left: 0;
    bottom: auto;
    right: auto;
    transform: translate(0, -50%);
  }
}
#canvas-playground {
  position: relative;
  padding: 3em 0;

  #tb--main {
    position: fixed;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      z-index: 100;
    }
    .command {
      cursor: pointer;
      text-align: center;
      flex-grow: 1;
      height: 2.8em;
      line-height: 2.8em;
      &:not(:last-child) {
        box-shadow: 0 1px 0 rgba(gray, 0.2);
      }
      &:hover {
        color: $ini-accent-color;
      }
    }
  }
}

#canvas-pages {
  position: relative;
  margin-left: 0;
  //transition: margin-left 250ms;
  #pages {
    position: relative;
  }
  .element {
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;

    &.image {
      width: 800px;
    }

    &.form .inner {
      background-color: white;
    }

    .inner {
      outline: none;
      position: relative;
      z-index: 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  .page {
    position: absolute;
    height: 800px;
    margin-bottom: 3em;
    background-color: white;
    transition: top 300ms;
    width: 100%;
    overflow: hidden;
    min-width: 1em;
    min-height: 1em;
    @media all and (min-width: $screen-md-min) {
      width: 80%;
    }
    &:hover .resize-handle {
      visibility: visible;
      opacity: 0.75;
    }
    &.selected {
      box-shadow: 0 0 15px rgba($ini-primary-color,1);
    }

    .elements {
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .element:hover:before, .element.dragging:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
      }
      .element:hover:before {
        border: 1px dashed rgba($vip-black, 0.25);
      }
      .element.dragging:before {
        border: 1px dashed rgba($vip-black, 1);
      }
    }
    .resize-handle {
      width: 25px;
      height: 25px;
      position: absolute;
      bottom: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 300ms, opacity 300ms;
      polygon {
        fill: $ini-primary-font-color;
        cursor: nwse-resize;
        &:hover {
          fill: $ini-accent-color;
        }
      }
    }
  }
}

$selection-handle-size: 8px;
#overlays {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;

  .selection-box {
    background-color: transparent;
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;

    &.card-note .handle, &.card-square .handle, &.card-wide .handle, &.card-tag .handle, &.audio {
      display: none;
    }

    .body {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      border: 1px dashed black;
      background-color: white;
    }
    .move-handle {
      position: absolute;
      top: -15px;
      right: -15px;
      bottom: -15px;
      left: -15px;
      background-color: rgba($ini-primary-color, 0.2);
    }
    .handle {
      content: "";
      display: block;
      position: absolute;
      width: $selection-handle-size;
      height: $selection-handle-size;
      background-color: rgba($ini-accent-color, 0.9);
      cursor: pointer;
      &:hover {
        background-color: rgba($ini-accent-color, 1);
      }
    }
    .lt {
      left: -$selection-handle-size;
      top: -$selection-handle-size;
      cursor: nwse-resize;
    }
    .t {
      top: -$selection-handle-size;
      left: calc(50% - #{$selection-handle-size/2});
      cursor: ns-resize;
    }
    .rt {
      right: -$selection-handle-size;
      top: -$selection-handle-size;
      cursor: nesw-resize;
    }
    .r {
      right: -$selection-handle-size;
      top: calc(50% - #{$selection-handle-size/2});
      cursor: ew-resize;
    }
    .rb {
      right: -$selection-handle-size;
      bottom: -$selection-handle-size;
      cursor: nwse-resize;
    }
    .b {
      bottom: -$selection-handle-size;
      left: calc(50% - #{$selection-handle-size/2});
      cursor: ns-resize;
    }
    .lb {
      bottom: -$selection-handle-size;
      left: -$selection-handle-size;
      cursor: nesw-resize;
    }
    .l {
      left: -$selection-handle-size;
      top: calc(50% - #{$selection-handle-size/2});
      cursor: ew-resize;
    }

  }
  .element {
    z-index: 3;
    .inner {
      cursor: auto;
    }
  }
}
.hot-tools {
  position: fixed;
  top: 1em;
  min-height: 50px;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  left: 50%;
  transform: translate(-50%, 0);
  animation: slideFromTopShow 300ms;
  z-index: 62;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }

  .close {
    position: absolute;
    right: -2.05em;
    top: 50%;
    transform: translateY(-50%);
  }
  button {
    outline: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}
.hot-tools.show {
  display: flex;
}
@keyframes slideFromBottomShow {
  from {
    opacity: 0;
    transform: translate(-50%, 200%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes slideFromTopShow {
  from {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.pure-box {
  background-color: white;
  box-shadow: 0 0 8px rgba(black,0.4);
}
.bg-white {
  background-color: white;
}
.cursor-pointer {
  cursor: pointer;
}
.slidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 68;
  overflow: auto;
  transform: translate3d(-100%, 0, 0);
  transition: transform 150ms;
  &.show {
    transform: translate3d(0, 0, 0);
    @media all and (min-width: $screen-md-min) {
      box-shadow: 0 0 10px #343434;
    }
  }
  .header {
    background-color: #444444;
    height: 12%;
    h1 {
      font-family: 'Noto Sans CJK JP Light', 'Roboto', 'Arial', 'Helvetica', sans-serif;
      color: $ini-primary-color;
      text-shadow: 0 0 2px black;
    }
  }
  .close-btn {
    position: absolute;
    right: 0.5em;
    top: 0.2em;
    color: white;
    outline: none;
  }
  .content {
    height: calc(88% - 40px);
    overflow: auto;
    background-color: #343434;
    @keyframes imgItemAdded {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
    .img-item {
      padding: 0.5em;
      width: calc(100% / 3);
      height: 100px;
      position: relative;
      //animation: imgItemAdded 500ms;
      &:hover .options, &:active .options {
        visibility: visible;
        background-color: rgba(black, 0.3);
        .option {
          transform: translate3d(0, 0, 0);
        }
      }
      img {
        width: 100%;
      }
      .options {
        position: absolute;
        transition: visibility 200ms, background-color 200ms;
        display: flex;
        visibility: hidden;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(black, 0);
        overflow: hidden;
        .option {
          transition: transform 200ms;
          transform: translate3d(0, 100%, 0);
          outline: none;
          border: 0;
          background-color: rgba(black, 0.6);
          color: white;
          cursor: pointer;
          margin: 0 0.2em;
          padding: 0.3em 1em;
        }
      }
    }
  }
  .footer {
    height: 40px;
    background-color: #242424;
  }
  a {
    text-decoration: none;
  }
  .toggle {
    background-color: darkcyan;
    color: white !important;
    transition: background-color 300ms;
    &.collapsed {
      background-color: #444;
    }
  }
}
#upload-img-btn {
  outline: none;
  width:4em;
  background-color: darkcyan;
  color: white;
  cursor: pointer;
  border: 0;
}
.text-accent-color {
  color: $ini-accent-color !important;
}
.bg-accent-color {
  background-color: $ini-accent-color !important;
}
#color-platte {
  .inner > * {
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 3px #242424;
  }
}
@media all and (max-width: $screen-sm-min){
  #export-html {
    display: none;
  }
  #tb--page-size {
    display: none;
  }
  .hot-tools {
    width: 100%;
    overflow: auto;
    top: 0;
  }
  .resize-handle {
    display: none;
  }
  #canvas-playground {
    padding: 0;
  }
  body {
    overflow: hidden;
    font-size: 0.8em;
  }
  #add-page {
    display: none;
  }
  #remove-item {
    display: none;
  }
  #main-header {
    padding: 1em 3em;
  }
}
input[type=date], input[type=number] {
  width: auto;
}
#alignment-lines {
  svg {
    position: absolute;
    z-index: 200;
    left: 0;
    top: 0;
    display: block;
    stroke: $ini-primary-color;
    &.v {
      width: 1px;
      opacity: 0;
      transition: opacity 100ms;
    }
    &.h {
      height: 1px;
      opacity: 0;
      transition: opacity 100ms;
    }
  }
  &.show-v .v{
    opacity: 1;
  }
  &.show-h .h {
    opacity: 1;
  }
}
.cursor-move {
  cursor: move;
}
#popular-components {
  .component-container {
    position: relative;
    width: calc(100%/3);
    height: 150px;
    padding: 0.3em;
    min-width: 80px;
    flex-grow: 1;
    transition: width 200ms, height 200ms;

    &.focus {
      width: 100%;
      height: 248px;
      .detail-settings {
        visibility: visible;
        opacity: 1;
      }
      .component {
        align-items: flex-start;
        justify-content: flex-start;
        opacity: 0.5;
      }
    }
    .detail-settings {
      transition: visibility 200ms, opacity 200ms;
      padding: 0.3em 1em;
      visibility: hidden;
      display: flex;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      flex-wrap: wrap;
      .click-un-focus {
        position: absolute;
        right: 1em;
        bottom: 1em;
      }
      input.text {
        color: $ini-accent-color;
        outline: none;
        border: 0;
        background-color: #444444;
        padding: 0 0.5em;
        line-height: 36px;
      }
      select {
        color: $ini-accent-color;
        background-color: #444444;
      }
      button.create {
        outline: none;
        font-weight: bold;
        color: darken($ini-accent-color, 10);
        border-radius: 0;
      }
      span.mdl-checkbox__label {
        top: -2px;
      }
    }
  }
  .component {
    user-select: none;
    cursor: pointer;
    color: $ini-accent-color;
    box-shadow: 1px 1px 0  0 darken(#393939, 5),2px 2px 0  0 darken(#393939, 5),3px 3px 0  0 darken(#393939, 5),4px 4px 0  0 darken(#393939, 5);
    width: 100%;
    background-color: #393939;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms;
    &:active {
      transform: translate(4px, 4px);
      box-shadow: -1px -1px 0  0 darken(#393939, 5),-2px -2px 0  0 darken(#393939, 5),-3px -3px 0  0 darken(#393939, 5),-4px -4px 0  0 darken(#393939, 5);
    }
  }
}
#form-builder-container {
  .modal-title {
    flex-grow: 1;
    text-align: center;
    margin-right: -32px;
  }
  .modal-header, .modal-footer {
    background-color: $ini-accent-color;
  }
  .modal-body {
    background-color: lighten($ini-accent-color, 2);
  }
  .frmb-control li {
    background: $ini-accent-color;
    border-radius: 0;
  }
  .frmb {
    background-color: $ini-accent-color;
  }
}
#do-export {
  color: darken($ini-primary-color, 20);
  outline: none;
}
.element.form .form-control {
  height: auto;
}
.mdl-snackbar {
  z-index: 2000;
}
.text-primary {
  color: $ini-primary-color;
}
.text-accent {
  color: $ini-accent-color;
}
.children-vertical-center > * {
  display: inline-block;
  vertical-align: middle;
}
.wsp-nowrap {
  white-space: nowrap;
}
