.color--white {
  color: white; }

.color--primary-color {
  color: #efefef; }

::selection {
  color: white;
  background-color: #00b0df; }

::-moz-selection {
  color: white;
  background-color: #00b0df; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Noto Sans SC', 'Roboto', 'Arial', 'Helvetica', sans-serif;
  overflow-x: hidden;
  overflow-y: auto; }

.v-align-placeholder {
  height: 100%;
  width: 0; }

#main-header {
  background-color: #efefef; }
  #main-header #main-navbar {
    line-height: 3em;
    padding: 0 1em; }
  #main-header a, #main-header ul {
    text-decoration: none;
    list-style-type: none; }
  #main-header ul {
    padding: 0;
    margin: 0; }
  #main-header .brand-logo a {
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
    color: #bcbcbc; }
  #main-header .hamburger {
    height: 1.2em;
    width: 1.5em;
    position: absolute;
    left: 1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer; }
    #main-header .hamburger > * {
      position: absolute;
      width: 100%;
      height: 0.2em;
      background-color: #262626;
      -webkit-transition: -webkit-transform 300ms, opacity 300ms;
      transition: transform 300ms, opacity 300ms; }
      #main-header .hamburger > *.top-line {
        top: 0; }
      #main-header .hamburger > *.middle-line {
        top: calc(50% - 0.1em); }
      #main-header .hamburger > *.bottom-line {
        bottom: 0; }
    #main-header .hamburger.clicked > * {
      -webkit-transform-origin: left center;
      transform-origin: left center; }
      #main-header .hamburger.clicked > *.top-line {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      #main-header .hamburger.clicked > *.bottom-line {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      #main-header .hamburger.clicked > *.middle-line {
        opacity: 0; }
    @media all and (min-width: 1200px) {
      #main-header .hamburger {
        display: none; } }

#canvas-playground {
  position: relative;
  padding: 2em 4em; }
  #canvas-playground .toolbar {
    position: fixed;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 50%;
    left: 1em;
    transform: translate(0, -50%);
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 3em;
    padding: 1.5em; }
    #canvas-playground .toolbar > * {
      display: inline-block;
      vertical-align: middle; }
      #canvas-playground .toolbar > *.command {
        cursor: pointer;
        font-size: 1.8em; }

#canvas-pages {
  position: relative; }
  #canvas-pages .element {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
    #canvas-pages .element .inner {
      outline: none; }
      #canvas-pages .element .inner ol, #canvas-pages .element .inner ul {
        padding-left: 40px; }
  #canvas-pages .page {
    position: absolute;
    width: 80%;
    height: 800px;
    left: 10%;
    margin-bottom: 2em;
    background-color: white;
    box-shadow: 0 0 0 1px #efefef; }
    #canvas-pages .page .elements {
      position: absolute;
      height: 100%;
      width: 100%; }
      #canvas-pages .page .elements .element:hover:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px dashed rgba(38, 38, 38, 0.25); }
    #canvas-pages .page .resize-handle {
      width: 25px;
      height: 25px;
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: nwse-resize; }
      #canvas-pages .page .resize-handle polygon {
        fill: #262626; }

#overlays {
  top: 0;
  right: 0;
  left: 0;
  position: absolute; }
  #overlays .selection-box {
    background-color: transparent;
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px dashed black;
    z-index: 1; }
    #overlays .selection-box > * {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #262626;
      border-radius: 20px;
      cursor: pointer; }
    #overlays .selection-box .lt {
      left: -5px;
      top: -5px;
      cursor: nwse-resize; }
    #overlays .selection-box .t {
      top: -5px;
      left: calc(50% - 5px);
      cursor: ns-resize; }
    #overlays .selection-box .rt {
      right: -5px;
      top: -5px;
      cursor: nesw-resize; }
    #overlays .selection-box .r {
      right: -5px;
      top: calc(50% - 5px);
      cursor: ew-resize; }
    #overlays .selection-box .rb {
      right: -5px;
      bottom: -5px;
      cursor: nwse-resize; }
    #overlays .selection-box .b {
      bottom: -5px;
      left: calc(50% - 5px);
      cursor: ns-resize; }
    #overlays .selection-box .lb {
      bottom: -5px;
      left: -5px;
      cursor: nesw-resize; }
    #overlays .selection-box .l {
      left: -5px;
      top: calc(50% - 5px);
      cursor: ew-resize; }
  #overlays .element {
    z-index: 3; }
    #overlays .element .inner {
      cursor: auto;
      height: 100%; }

.rb-btns {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #efefef;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  z-index: 100; }
  .rb-btns .button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer; }

.hot-tools {
  position: fixed;
  bottom: 1em;
  background-color: #efefef;
  height: 50px;
  display: none;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  animation: slideFromBottomShow 300ms; }
  .hot-tools > * {
    margin: 0 0.5em;
    cursor: pointer; }
    .hot-tools > *.clicked {
      opacity: 0.6; }

.hot-tools.show {
  display: flex; }

@keyframes slideFromBottomShow {
  from {
    opacity: 0;
    transform: translate(-50%, 200%); }
  to {
    opacity: 1;
    transform: translate(-50%, 0); } }

/*# sourceMappingURL=main.css.map */
